.cartpage {
    width: 85%;
    margin: auto;
    padding-top: 80px;
    height: 100vh;
}

.total {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.emptycart {
    display: flex;
    flex-direction: column;
    height: 180px;
    align-items: center;
    border: 1px solid #a897b350;
}

.payment {
    margin-left: 20px;
}

.carttext {
    margin: auto;
    width: 250px;
    height: 55px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 250px;
    background-image: url('https://res.cloudinary.com/dj8b9wygu/image/upload/v1641818028/jvsiwojgewpbwrkapem4.png');
}