.imageSlider {
    margin: auto;
    max-width: 90%;
    border-radius: 10px;
}

.images {
    border-radius: 10px;

    width: 90%;
    margin: auto;
}

.imageSlider button {
    background-color: #f0f0f0;
}
